@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  font-family: Poppins !important;
}

/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.app {
  overflow: hidden;
}

.ce-section-title-container {
  margin-top: 10px;
}

.ce-chats-container {
  background-color: #02112e;
}

.ce-active-chat-card {
  background-color: #02112e !important;
  border-radius: 3px !important;
  color: #fff;
}

.ce-chat-subtitle-text {
  color: #8f8b8b !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.chat-title-container {
  width: 100%;
  padding: 18px;
  text-align: center;
  background-color: #02112e;
  margin-bottom: 20px;
  z-index: 100;
  top: 0;
}

.ce-my-message-bubble {
  background-color: #726dfe !important;
}

.ce-my-message-sinding-bubble {
  background-color: #938ffe !important;
}

.chat-title {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #ef9210;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
  font-size: 14px;
}

.left img {
  width: 650px;
}

.error {
  font-size: 20px;
  color: red;
  text-align: center;
}
.message-image {
  margin-right: 18px;
  object-fit: contain;
  border-radius: 6px;
  height: 30vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 3px 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 18px;
  background-color: #4a5162 !important;
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #02112e;
  background-color: #4a5162 !important;
}

.message-input {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 4px !important;
  border-width: 0px !important;
  background-color: #4a5162 !important;
  color: white !important;
  padding: 15px;
  outline: none;
  box-shadow: none;
}

.image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
}

.send-button {
  background-color: #02112e;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: #02112e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, #010013, #003770);
}

.input {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 13px;
  border-radius: 0.2rem;
  background-color: #233b59;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
  margin-top: 10px;
}

::placeholder {
  outline: none;
}

.form {
  width: 45%;
  padding: 50px;
  margin-right: 100px;
  background-color: #0f233e;
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

label {
  padding-left: 30px;
  color: #8f8b8b;
  font-weight: 500;
}

.chat-feed {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-form-container {
  padding: 10px;
}

.time-right {
  text-align: right;
  padding-right: 20px;
  font-size: 10px;
  margin-bottom: 10px;
  color: #8f8b8b;
}

.time-left {
  text-align: left;
  padding-left: 65px;
  font-size: 10px;
  color: #8f8b8b;
}

.header {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}

.subtitle {
  color: #8f8b8b;
  padding: 10px 50px;
  font-weight: 500;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;
}

.forgot {
  text-decoration: none;
  color: #8f8b8b;
  float: right;
  padding-right: 30px;
  padding-bottom: 20px;
  font-weight: 600;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: #f8931d;
  color: #02112e;
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.logout-button {
  margin-top: 30px;
  align-items: center;
  background-color: #ef9210;
  padding: 15px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  font-weight: 600;
  margin-left: 20px;
}

.logout-button:hover {
  background-color: #c57c15;
  cursor: pointer;
}

@media screen and (max-width: 1268px) {
  .left img {
    width: 400px;
  }
  .right p {
    padding: 0px;
    font-size: 14px;
  }
  .right label {
    padding-left: 20px;
  }
  ::placeholder {
    font-size: 14px;
  }
  .right button {
    font-size: 18px;
  }
  .message-input {
    width: 78%;
  }
  .message-form-container {
    width: 100%;
  }
}

@media screen and (max-width: 698px) {
  .wrapper {
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0px;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
  }
  .message-input {
    width: 65%;
  }

  .message-form-container {
    width: 100%;
    overflow-y: hidden;
  }
}

/* Chat List */
.ce-wrapper {
  background-color: #02112e !important;
}

.ce-chats-container {
  background-color: #02112e !important;
  border-radius: 0px !important;
}

.ce-chat-form-container {
  background-color: #02112e !important;
  color: white;
}

.ce-chat-card {
  margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
  background-color: #535a6d !important;
}

.ce-active-chat-card {
  background-color: #ef9210 !important;
}

.ce-chat-title-text {
  color: white !important;
}

.ce-chat-subtitle-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Settings */

.ce-settings {
  background-color: #02112e !important;
  border-radius: 0px !important;
}

.ce-chat-title-form .ce-text-input {
  background-color: #02112e;
  color: white;
}

.ce-section-title-container {
  background-color: #02112e !important;
  color: white;
}

#ce-options-drop-down {
  background-color: #02112e !important;
  color: white;
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-danger-button {
  background-color: #02112e !important;
  border: 1px solid #ef9210 !important;
  color: #ef9210 !important;
}

.ce-autocomplete-close {
  background-color: white !important;
  border-radius: 0px !important;
  color: #003770;
}
